<section class="section-about-container section-about-class">
    <div class="about-first-part">
        <h2 class="visually-hidden">ABOUT</h2>
        <div class="about-first">
            <h3 class="about-title">
                I work with people all over the world to create impressive and <span class="about-text-change-first">
                    functional</span><span class="about-text-change-second">
                    websites</span> that reflect each
                client's unique
                personality.
            </h3>
        </div>
        <div class="about-picture-first">
            <picture class="about-picture">
                <source srcset="
                      /img/about/about-d.jpg 1x,
                      /img/about/about-d@2x.jpg 2x
                    " media="(min-width: 1440px)" width="680" height="700" />
                <source srcset="
                      /img/about/about-tablet.jpg 1x,
                      /img/about/about-tablet@2x.jpg 2x
                    " media="(min-width: 768px)" width="704" height="700" />
                <source srcset="
                      /img/about/about-mob.jpg 1x,
                      /img/about/about-mob@2x.jpg 2x
                    " media="(max-width: 767px)" width="343" height="500" />
                <img src="/img/about/about-mob.jpg" alt="about" width="343" height="500" />
            </picture>
        </div>

    </div>
    <div class="accordion-about-container">
        <ul class="accordion-about">
            <li class="accordion-item-about active-about">
                <div class="accordion-header-about">
                    <p class="ac-title">ABOUT ME</p>
                    <span class="icon-wrapper">
                        <svg class="accordion-icon" width="36" height="36">
                            <use href="/img/icons/sprite.svg#icon-Vector-9"></use>
                        </svg>
                    </span>
                </div>
                <div class="accordion-content-about">
                    <ul class="accordion-listr">
                        <li class="accordion-list">
                            <p class="accordion-text">I am Lloyd Jefferson, a talented programmer with extensive
                                expertise in software
                                development. I have an understanding of
                                different programming languages and technologies, always ready to improve my skills. I
                                always follow the latest trends
                                and look for unconventional, creative solutions to problems. I have a high level of
                                analytical skills and am able to
                                effectively solve even the most difficult tasks encountered on the way.
                            </p>
                        </li>
                        <li class="accordion-list">
                            <p>Able to work both independently and in a team. I can effectively cooperate with
                                colleagues, exchanging ideas and finding
                                optimal solutions. Professional maturity allows you to calmly cope with challenges and
                                stressful situations, while
                                maintaining a high quality of work.I am always looking for opportunities for
                                self-improvement. I actively study new
                                technologies and practices to stay abreast of the latest innovations. I have a strong
                                understanding of various
                                programming languages, frameworks and architectural concepts that allow me to create
                                efficient and scalable software.
                            </p>
                        </li>

                    </ul>
                </div>
            </li>
            <li class="accordion-item-about">
                <div class="accordion-header-about">
                    <p class="ac-title">ROLE</p>
                    <span class="icon-wrapper">
                        <svg class="accordion-icon" width="36" height="36">
                            <use href="/img/icons/sprite.svg#icon-Vector-9"></use>
                        </svg>
                    </span>
                </div>
                <div class="accordion-content-about">
                    <ul>
                        <li class="accordion-list">Frontend Development</li>
                        <li class="accordion-list">HeadlessCMS, WordPress</li>
                        <li class="accordion-list">Blender(enjoy)</li>
                    </ul>
                </div>
            </li>
            <li class="accordion-item-about">
                <div class="accordion-header-about">
                    <p class="ac-title">EDUCATION</p>
                    <svg class="accordion-icon" width="36" height="36">
                        <use href="/img/icons/sprite.svg#icon-Vector-9"></use>
                    </svg>
                </div>
                <div class="accordion-content-about">
                    <ul>
                        <li class="accordion-list">2018 - 2019 / Frontend Development Diploma, GoIT IT<br>
                            School, New York</li>
                        <li class="accordion-list">2019 - 2020 / Advanced Web Development Certificate, GoIT IT<br>
                            School, New York</li>
                        <li class="accordion-list">2020 - 2022 / Advanced Blender Animation Techniques, Udemy</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <div class="swiper-about-container">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide circle">HTML/CSS</div>
                <div class="swiper-slide circle">JavaScript</div>
                <div class="swiper-slide circle">React</div>
                <div class="swiper-slide circle">Node.js</div>
                <div class="swiper-slide circle">React Native</div>
                <div class="swiper-slide circle">Soft skills</div>
                <div class="swiper-slide circle">Hard skills</div>

            </div>

            <div class="swiper-button-next"><span class="swiper-icon-span"><svg class="swiper-icon" width="40"
                        height="40">
                        <use href="/img/icons/sprite.svg#icon-arrow-narrow-right"></use>
                    </svg></span>

            </div>
        </div>
    </div>

</section>