<section id="gallery-id" class="gallery-section">
  <div class="gallery-general-wrap">
    <h2 class="visually-hidden">Covers Gallery</h2>
    <div class="gallery-container">
      <ul class="gallery-list container">
        <li class="gallery-item">
          <picture class="gallery-picture">
            <source srcset="/img/covers/chego-6@2x.jpg 2x" />
            <img
              src="/img/covers/chego-6.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers chego"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/energy-flow-4@2x.jpg 2x" />
            <img
              src="/img/covers/energy-flow-4.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers energy-flow"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/english-excellence-12@2x.jpg 2x" />
            <img
              src="/img/covers/english-excellence-12.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers english-excellence"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/fruitbox-5@2x.jpg 2x" />
            <img
              src="/img/covers/fruitbox-5.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers fruitbox"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/green-harvest-9@2x.jpg 2x" />
            <img
              src="/img/covers/green-harvest-9.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers green-harvest"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/mimino-7@2x.jpg 2x" />
            <img
              src="/img/covers/mimino-7.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers mimino"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/power-pulse-10@2X.jpg 2x" />
            <img
              src="/img/covers/power-pulse-10.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers power-pulse"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/starling-studio-1@2x.jpg 2x" />
            <img
              src="/img/covers/starling-studio-1.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers starling-studio"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/ukrainian-embroidery-8@2x.jpg 2x" />
            <img
              src="/img/covers/ukrainian-embroidery-8.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers ukrainian-embroidery"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/wallet-11@2x.jpg 2x" />
            <img
              src="/img/covers/wallet-11.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers wallet"
            />
          </picture>
        </li>
        <li class="gallery-item">
          <picture class="gallery-picture">
            <source srcset="/img/covers/mimino-7@2x.jpg 2x" />
            <img
              src="/img/covers/mimino-7.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers mimino"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/power-pulse-10@2X.jpg 2x" />
            <img
              src="/img/covers/power-pulse-10.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers power-pulse"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/ukrainian-embroidery-8@2x.jpg 2x" />
            <img
              src="/img/covers/ukrainian-embroidery-8.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers ukrainian-embroidery"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/starling-studio-1@2x.jpg 2x" />
            <img
              src="/img/covers/starling-studio-1.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers starling-studio"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/wallet-11@2x.jpg 2x" />
            <img
              src="/img/covers/wallet-11.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers wallet"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/chego-6@2x.jpg 2x" />
            <img
              src="/img/covers/chego-6.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers chego"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/energy-flow-4@2x.jpg 2x" />
            <img
              src="/img/covers/energy-flow-4.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers energy-flow"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/english-excellence-12@2x.jpg 2x" />
            <img
              src="/img/covers/english-excellence-12.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers english-excellence"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/fruitbox-5@2x.jpg 2x" />
            <img
              src="/img/covers/fruitbox-5.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers fruitbox"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/green-harvest-9@2x.jpg 2x" />
            <img
              src="/img/covers/green-harvest-9.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers green-harvest"
            />
          </picture>
        </li>
        <li class="gallery-item">
          <picture class="gallery-picture">
            <source srcset="/img/covers/chego-6@2x.jpg 2x" />
            <img
              src="/img/covers/chego-6.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers chego"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/energy-flow-4@2x.jpg 2x" />
            <img
              src="/img/covers/energy-flow-4.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers energy-flow"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/fruitbox-5@2x.jpg 2x" />
            <img
              src="/img/covers/fruitbox-5.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers fruitbox"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/green-harvest-9@2x.jpg 2x" />
            <img
              src="/img/covers/green-harvest-9.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers green-harvest"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/mimino-7@2x.jpg 2x" />
            <img
              src="/img/covers/mimino-7.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers mimino"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/power-pulse-10@2X.jpg 2x" />
            <img
              src="/img/covers/power-pulse-10.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers power-pulse"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/ukrainian-embroidery-8@2x.jpg 2x" />
            <img
              src="/img/covers/ukrainian-embroidery-8.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers ukrainian-embroidery"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/starling-studio-1@2x.jpg 2x" />
            <img
              src="/img/covers/starling-studio-1.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers starling-studio"
            />
          </picture>

          <picture class="gallery-picture">
            <source srcset="/img/covers/wallet-11@2x.jpg 2x" />
            <img
              src="/img/covers/wallet-11.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers wallet"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/english-excellence-12@2x.jpg 2x" />
            <img
              src="/img/covers/english-excellence-12.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers english-excellence"
            />
          </picture>
        </li>
        <li class="gallery-item">
          <picture class="gallery-picture">
            <source srcset="/img/covers/starling-studio-1@2x.jpg 2x" />
            <img
              src="/img/covers/starling-studio-1.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers starling-studio"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/mimino-7@2x.jpg 2x" />
            <img
              src="/img/covers/mimino-7.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers mimino"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/power-pulse-10@2X.jpg 2x" />
            <img
              src="/img/covers/power-pulse-10.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers power-pulse"
            />
          </picture>

          <picture class="gallery-picture">
            <source srcset="/img/covers/chego-6@2x.jpg 2x" />
            <img
              src="/img/covers/chego-6.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers chego"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/energy-flow-4@2x.jpg 2x" />
            <img
              src="/img/covers/energy-flow-4.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers energy-flow"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/english-excellence-12@2x.jpg 2x" />
            <img
              src="/img/covers/english-excellence-12.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers english-excellence"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/fruitbox-5@2x.jpg 2x" />
            <img
              src="/img/covers/fruitbox-5.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers fruitbox"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/green-harvest-9@2x.jpg 2x" />
            <img
              src="/img/covers/green-harvest-9.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers green-harvest"
            />
          </picture>

          <picture class="gallery-picture">
            <source srcset="/img/covers/ukrainian-embroidery-8@2x.jpg 2x" />
            <img
              src="/img/covers/ukrainian-embroidery-8.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers ukrainian-embroidery"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/wallet-11@2x.jpg 2x" />
            <img
              src="/img/covers/wallet-11.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers wallet"
            />
          </picture>
        </li>
        <li class="gallery-item">
          <picture class="gallery-picture">
            <source srcset="/img/covers/chego-6@2x.jpg 2x" />
            <img
              src="/img/covers/chego-6.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers chego"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/energy-flow-4@2x.jpg 2x" />
            <img
              src="/img/covers/energy-flow-4.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers energy-flow"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/fruitbox-5@2x.jpg 2x" />
            <img
              src="/img/covers/fruitbox-5.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers fruitbox"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/green-harvest-9@2x.jpg 2x" />
            <img
              src="/img/covers/green-harvest-9.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers green-harvest"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/mimino-7@2x.jpg 2x" />
            <img
              src="/img/covers/mimino-7.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers mimino"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/power-pulse-10@2X.jpg 2x" />
            <img
              src="/img/covers/power-pulse-10.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers power-pulse"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/ukrainian-embroidery-8@2x.jpg 2x" />
            <img
              src="/img/covers/ukrainian-embroidery-8.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers ukrainian-embroidery"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/wallet-11@2x.jpg 2x" />
            <img
              src="/img/covers/wallet-11.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers wallet"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/starling-studio-1@2x.jpg 2x" />
            <img
              src="/img/covers/starling-studio-1.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers starling-studio"
            />
          </picture>
          <picture class="gallery-picture">
            <source srcset="/img/covers/english-excellence-12@2x.jpg 2x" />
            <img
              src="/img/covers/english-excellence-12.jpg"
              class="gallery-img"
              loading="lazy"
              alt="site covers english-excellence"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
