<section class="section-fag" id="faq">
  <div class="container">
    <h2 class="title-fag">FAQ</h2>
    <ul class="list js-list-container">
      <li class="list-item">
        <div class="faq-title-container">
          <h3 class="list-item-title">
            What programming languages ​​are most often used in your project?
          </h3>
          <button class="btn-faq" type="button" aria-label="open-close-button">
            <svg class="list-item-icon icon-down" width="40" height="40">
              <use
                href="/img/icons/sprite.svg#icon-Vector-9"
                fill="white"
              ></use>
            </svg>
          </button>
        </div>
        <p class="list-item-text">
          In the field of we development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </p>
      </li>
      <li class="list-item ac ac-trigger">
        <div class="faq-title-container">
          <h3 class="list-item-title">How can I contact you?</h3>
          <button class="btn-faq" type="button" aria-label="open-close-button">
            <svg class="list-item-icon icon-down" width="40" height="40">
              <use
                href="/img/icons/sprite.svg#icon-Vector-9"
                fill="white"
              ></use>
            </svg>
          </button>
        </div>
        <p class="list-item-text ac-panel">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </p>
      </li>
      <li class="list-item ac ac-trigger">
        <div class="faq-title-container">
          <h3 class="list-item-title">
            What are the deadlines for the project?
          </h3>
          <button class="btn-faq" type="button" aria-label="open-close-button">
            <svg class="list-item-icon icon-down" width="40" height="40">
              <use
                href="/img/icons/sprite.svg#icon-Vector-9"
                fill="white"
              ></use>
            </svg>
          </button>
        </div>
        <p class="list-item-text ac-panel">
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources. Determining exact deadlines is a
          difficult task, and it usually occurs during the planning phase of the
          project.
        </p>
      </li>
      <li class="list-item ac ac-trigger">
        <div class="faq-title-container">
          <h3 class="list-item-title">Do you provide advice or support?</h3>
          <button class="btn-faq" type="button" aria-label="open-close-button">
            <svg class="list-item-icon icon-down" width="40" height="40">
              <use
                href="/img/icons/sprite.svg#icon-Vector-9"
                fill="white"
              ></use>
            </svg>
          </button>
        </div>
        <p class="list-item-text ac-panel">
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources. Determining exact deadlines is a
          difficult task, and it usually occurs during the planning phase of the
          project.
        </p>
      </li>
      <li class="list-item ac ac-trigger">
        <div class="faq-title-container">
          <h3 class="list-item-title">What payment methods do you accept?</h3>
          <button class="btn-faq" type="button" aria-label="open-close-button">
            <svg class="list-item-icon icon-down" width="40" height="40">
              <use
                href="/img/icons/sprite.svg#icon-Vector-9"
                fill="white"
              ></use>
            </svg>
          </button>
        </div>
        <p class="list-item-text ac-panel">
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems such as PayPal, as well as
          payments in cryptocurrencies such as Bitcoin, Ethereum and others.
        </p>
      </li>
      <li class="list-item ac ac-trigger">
        <div class="faq-title-container">
          <h3 class="list-item-title">
            What does the process of developing a software product look like
            from idea to implementation?
          </h3>
          <button class="btn-faq" type="button" aria-label="open-close-button">
            <svg class="list-item-icon icon-down" width="40" height="40">
              <use
                href="/img/icons/sprite.svg#icon-Vector-9"
                fill="white"
              ></use>
            </svg>
          </button>
        </div>
        <p class="list-item-text ac-panel">
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems such as PayPal, as well as
          payments in cryptocurrencies such as Bitcoin, Ethereum and others.
        </p>
      </li>
    </ul>
  </div>
</section>
