<header class="header">
    <div class="container container-header">
        <a href="#" class="logo">
            <img src="/img/content/logo-foto.jpg" alt="jefferson.png" class="logo_img">
            <span>Jefferson</span>
        </a>

        <!-- Кнопка для відкриття меню на планшетах і десктопах -->
        <button class="nav-toggle">Menu</button>

        <!-- Навігація для планшетів та десктопів -->
        <nav class="nav">
            <ul class="nav-list">
                <li><a href="#about" class="nav-link">About me</a></li>
                <li><a href="#benefits" class="nav-link">Benefits</a></li>
                <li><a href="#projects-s" class="nav-link">Projects</a></li>
                <li><a href="#faq" class="nav-link">FAQ</a></li>
            </ul>
        </nav>

        <a href="#work-together" class="order-btn">Order the project</a>

        <!-- Бургер-меню для мобільних пристроїв -->
        <button class="burger-menu">
            <span></span>
            <span></span>
            
        </button>

        <!-- Мобільне меню -->
        <div class="mobile-menu">
            <button class="close-menu">&times;</button>
            <ul>
                <li><a href="#about" class="nav-link">About me</a></li>
                <li><a href="#benefits" class="nav-link">Benefits</a></li>
                <li><a href="#projects-s" class="nav-link">Projects</a></li>
                <li><a href="#faq" class="nav-link">FAQ</a></li>
            </ul>
            <a href="#work-together" class="mobile-order-btn">Order the project</a>
        </div>
    </div>
</header>