<section class="hero">
    <div class="hero-content">
        <h1 class="hero-title">
            HELLO.<br>
            I'M FULLSTACK DEVELOPER<br>
            LLOYD JEFFERSON.
        </h1>

        <div class="social-container">
            <div class="social-links">
                <a href="https://instagram.com" target="_blank" aria-label="Instagram" class="social-icon">
                    <svg class="icon">
                        <use href="/img/icons/sprite.svg#icon-IG"></use>
                    </svg>
                </a>
                <a href="https://facebook.com" target="_blank" aria-label="Facebook" class="social-icon">
                    <svg class="icon">
                        <use href="/img/icons/sprite.svg#icon-FB"></use>
                    </svg>
                </a>
                <a href="https://youtube.com" target="_blank" aria-label="YouTube" class="social-icon">
                    <svg class="icon">
                        <use href="/img/icons/sprite.svg#icon-YT"></use>
                    </svg>
                </a>
                <a href="https://github.com" target="_blank" aria-label="GitHub" class="social-icon">
                    <svg class="icon">
                        <use href="/img/icons/sprite.svg#icon-GH"></use>
                    </svg>
                </a>
            </div>
            <a href="mailto:lloydjefferson@gmail.com" class="email-link">
                lloydjefferson@gmail.com
            </a>
        </div>
    </div>
</section>