<section class="hero">
    <div class="hero-content">
        <h1 class="hero-title">
            HELLO.<br>
            I'M FULLSTACK DEVELOPER<br>
            LLOYD JEFFERSON.
        </h1>

        <ul class="social-links">
            <li>
                <a href="https://instagram.com" target="_blank" aria-label="Instagram">
                    <svg class="icon">
                        <use href="/img/icons/sprite.svg#icon-IG"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://facebook.com" target="_blank" aria-label="Facebook">
                    <svg class="icon">
                        <use href="/img/icons/sprite.svg#icon-FB"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://youtube.com" target="_blank" aria-label="YouTube">
                    <svg class="icon">
                        <use href="/img/icons/sprite.svg#icon-YT"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://github.com" target="_blank" aria-label="GitHub">
                    <svg class="icon">
                        <use href="/img/icons/sprite.svg#icon-GH"></use>
                    </svg>
                </a>
            </li>
        </ul>

        <a href="mailto:lloydjefferson@gmail.com" class="email-link">
            lloydjefferson@gmail.com
        </a>
    </div>
</section>