<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>goit-js-hw-09</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <section class="projects" id="projects-s">
      <div class="container projects-container">
        <h2 class="projects-tittle">PROJECTS</h2>
        <div class="projects-swiper">
          <div class="projects-swiper-wrapper">
            <div class="projects-swiper-slide">
              <div class="project-text-container">
                <ul class="project-text-tag-list">
                  <li class="project-text-tag">#react</li>
                  <li class="project-text-tag">#js</li>
                  <li class="project-text-tag">#node js</li>
                  <li class="project-text-tag">#git</li>
                </ul>
                <p class="project-text">
                  Programming Across Borders: Ideas, Technologies, Innovations
                </p>
                <a href="#" class="project-see-btn">See project</a>
              </div>
              <div class="project-image-container">
                <img
                  class="project-image"
                  srcset="
                    ./img/content/projects/project-first.jpg    1x,
                    ./img/content/projects/project-first@2x.jpg 2x
                  "
                  alt="first projectt"
                />
              </div>
            </div>
            <div class="projects-swiper-slide">
              <div class="project-text-container">
                <ul class="project-text-tag-list">
                  <li class="project-text-tag">#react</li>
                  <li class="project-text-tag">#js</li>
                  <li class="project-text-tag">#node js</li>
                  <li class="project-text-tag">#git</li>
                </ul>
                <p class="project-text">
                  Programming Across Borders: Ideas, Technologies, Innovations
                </p>
                <a href="#" class="project-see-btn">See project</a>
              </div>
              <div class="project-image-container">
                <img
                  class="project-image"
                  srcset="
                    ./img/content/projects/project-second.jpg    1x,
                    ./img/content/projects/project-second@2x.jpg 2x
                  "
                  alt="second project"
                />
              </div>
            </div>
            <div class="projects-swiper-slide">
              <div class="container project-text-container">
                <ul class="project-text-tag-list">
                  <li class="project-text-tag">#react</li>
                  <li class="project-text-tag">#js</li>
                  <li class="project-text-tag">#node js</li>
                  <li class="project-text-tag">#git</li>
                </ul>
                <p class="project-text">
                  Programming Across Borders: Ideas, Technologies, Innovations
                </p>
                <a href="#" class="project-see-btn">See project</a>
              </div>
              <div class="container project-image-container">
                <img
                  class="project-image"
                  srcset="
                    ./img/content/projects/project-third.jpg    1x,
                    ./img/content/projects/project-third@2x.jpg 2x
                  "
                  alt="third project"
                />
              </div>
            </div>
          </div>
          <div class="project-button-wrapper">
            <button id="projectPrevBtn" class="project-prev-btn">
              <svg
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M26.6666 16H5.33325"
                  stroke="#FAFAFA"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M13.3333 8L5.33325 16L13.3333 24"
                  stroke="#FAFAFA"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
            <button id="projectNextBtn" class="project-next-btn">
              <svg
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5.33325 16H26.6666"
                  stroke="#FAFAFA"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M18.6667 8L26.6667 16L18.6667 24"
                  stroke="#FAFAFA"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </section>

    <script src="./js/main.js" type="module"></script>
  </body>
</html>
