<section class="reviews-section">
  <div class="container reviews-container">
    <h2 class="reviews-section-title">Reviews</h2>

    <div class="swiper swiper-reviews">
      <ul class="swiper-wrapper reviews-list"></ul>

      <!-- Навігація -->
      <div class="reviews-navigation">
        <div class="swiper-button-prev-reviews swiper-button-prev">
          <svg
            width="52"
            height="52"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M26.6666 16H5.33325"
              stroke="#FAFAFA"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M13.3333 8L5.33325 16L13.3333 24"
              stroke="#FAFAFA"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="swiper-button-next-reviews swiper-button-next">
          <svg
            width="52"
            height="52"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5.33325 16H26.6666"
              stroke="#FAFAFA"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M18.6667 8L26.6667 16L18.6667 24"
              stroke="#FAFAFA"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>

      <!-- Пагінація (якщо потрібна) -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
