/* Загальні стилі */
.hidden {
    display: none;
}

body {
    font-family: "Inter Tight", sans-serif;
    color: #fafafa;

}

::after,
::before {
    box-sizing: border-box;
}

/* Контейнер для адаптивної верстки */
.container {
    width: 100%;
    /* Гумовий дизайн на мобільних пристроях */
    max-width: 375px;
    /* Фіксована ширина з 375px */
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

/* Адаптація для планшетів (з 768px) */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Адаптація для десктопів (з 1440px) */
@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
        padding-left: 32px;
        padding-right: 32px;
    }
}



