.section-fag {
  padding-top: 64px;
  padding-bottom: 64px;
}

.title-fag {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.faq-title-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  cursor: pointer;
}

.list-item {
  padding: 32px 32px 32px 0;
  background-color: inherit;
  border: solid transparent 1px;
  border-top-color: rgba(250, 250, 250, 0.3);
}

.list-item:last-of-type {
  border-bottom-color: rgba(250, 250, 250, 0.3);
}

.list-item .list-item-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  margin-right: 20px;
  text-transform: capitalize;
}

.list-item .btn-faq {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  margin-bottom: 0;
  padding: 9px;
  width: 36px;
  height: 36px;
  background-color: transparent;
  border: 1px solid rgba(250, 250, 250, 0.4);
  transition: background-color 350ms ease-in;
}

.list-item-icon {
  stroke-width: 2px;
  stroke: rgb(250, 250, 250);
  transition: fill 350ms ease-in;
}

.list-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  overflow: hidden;
}
.list-item.opens .list-item-text {
  max-height: 500px;
}

.list-item:hover .btn-faq,
.list-item:focus .btn-faq {
  background-color: rgba(250, 250, 250, 0.1);
  box-shadow: 0 0 4px rgba(250, 250, 250, 0.4) inset,
    0 0 4px 2px rgba(250, 250, 250, 0.4);
}

.list-item:hover .list-item-icon,
.list-item:focus .list-item-icon {
  stroke: rgba(238, 230, 230, 0.8);
}

.list-item.opens .btn-faq {
  transform: rotate(180deg);
  background-color: rgba(250, 250, 250, 0.1);
  transition: background-color 350ms ease-in, transform 350ms ease-in;
  box-shadow: 0 0 2px rgba(250, 250, 250, 0.2) inset,
    0 0 4px 2px rgba(250, 250, 250, 0.2);
}

@media only screen and (min-width: 768px) {
  .section-fag {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .list-item .btn-faq {
    width: 40px;
    height: 40px;
  }

  .faq-title-container {
    margin-bottom: 26px;
  }
}

@media only screen and (min-width: 1440px) {
  .section-fag {
    padding-top: 164px;
    padding-bottom: 164px;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }

  .faq-title-container {
    margin-bottom: 42px;
  }

  .list-item {
    width: calc(50% - 0px);
    padding-left: 0;
    position: relative;
  }
  .list-item:nth-child(odd) {
    border-right: 1px solid rgba(250, 250, 250, 0.2);
    padding-right: 32px;
  }

  .list-item:last-child,
  .list-item:nth-last-child(2) {
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  }

  .list-item:nth-child(even) {
    padding-left: 32px;
  }
}
