.review-content {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.reviews-section {
  display: flex;
  justify-content: center;
  background-color: #1c1d20;
  background-image: url("../img/reviews-bg.png");
  background-size: cover;
}

@media screen and (min-resolution: 192dpi), screen and (min-device-pixel-ratio: 2) {
  .reviews-section {
    background-image: url("../img/reviews-bg@2x.png");
  }
}

.review-photo, .review-avatar {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  object-fit: cover;
}

.review-avatar {
  border-radius: 10%;
  margin-bottom: 32px;
}

.review-item, .reviews-list-item {
  flex: 1 0 calc(25% - 24px);
  max-width: 320px;
  border-radius: 20px;
  background-color: #1c1d20;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(250, 250, 250, 0.2);
  gap: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.reviews-container {
  display: grid;
  gap: 20px;
}

@media (max-width: 768px) {
  .reviews-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .reviews-container {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 96px;
    width: 704px;
    height: 458px;
  }
}

@media (min-width: 1440px) {
  .reviews-container {
    margin-bottom: 164px;
    width: 100%;
    height: 100%;
  }
  .reviews-list {
    gap: 16px;
  }
}

.reviews-section-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin: 64px 0 32px;
  text-transform: uppercase;
  font-family: 'Inter Tight', sans-serif;
}

.reviews-list {
  display: flex;
}

@media (min-width: 768px) and (max-width: 1044px) {
  .reviews-list {
    gap: 32px;
  }
  .reviews-list-item {
    max-width: 360px;
  }
}

@media (min-width: 1440px) {
  .reviews-list {
    justify-content: space-between;
    gap: 16px;
  }
  .reviews-list-item {
    max-width: 300px;
  }
}

.review-name, .reviews-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  font-family: 'Inter Tight', sans-serif;
}

.review-name {
  font-weight: 600;
  font-size: 20px;
  color: #fafafa;
  margin-bottom: 8px;
  text-transform:none;
}

.reviews-text {
  color: rgba(250, 250, 250, 0.6);
  text-align: left;
}

.reviews-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 32px;
}

.swiper-button-prev-reviews, .swiper-button-next-reviews {
  background-color: rgba(250, 250, 250, 0.1);
  color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 50%;
  width: 52px;
  height: 52px;
  margin-top: 32px;
}

.swiper-button-prev-reviews {
  position: absolute;
  left: 50%;
  transform: translateX(-85%);
}

.swiper-button-next-reviews {
  position: absolute;
  left: 50%;
  transform: translateX(35%);
}

.swiper-button-prev::after, .swiper-button-next::after {
  display: none;
}

.swiper-button-disabled-reviews {
  opacity: 0.5;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .reviews-list-item {
    flex: 1 0 calc(50% - 24px);
  }
}

@media screen and (max-width: 480px) {
  .reviews-list-item {
    flex: 1 0 100%;
  }
}

.swiper-pagination {
  display: none !important;
}

.swiper-reviews {
  width: 100%;
  overflow: visible;
}
