.work-together-section {
  background-image: url('../img/bg/work-together-mobail-bg.png');
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #1c1d20;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .work-together-section {
    background-image: url('../img/bg/work-together-mobail-bg@2x.png');
  }
}

.work-together-container {
  min-width: 320px;
}

.work-together-title-container {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.work-together-logo {
  margin-right: 8px;
}

.work-together-title {
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.03em;
}

.work-together-title-work {
  color: #ed3b44;
}

.work-together-contact-form {
  display: flex;
  flex-direction: column;
}

.work-together-input {
  cursor: pointer;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  padding-bottom: 20px;
  outline: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

work-together-input::placeholder {
  color: rgba(250, 250, 250, 0.6);
}

.work-together-input:hover,
.work-together-input:focus {
  color: #fafafa;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
  transition: color 0.2s ease-in-out;
}

.work-together-input:hover::placeholder,
.work-together-input:focus::placeholder {
  color: #fafafa;
  transition: color 0.2s ease-in-out;
}

.email-succes,
.email-invalid {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  display: none;
}

.email-succes {
  color: #3cbc81;
}

.email-invalid {
  color: #e74a3b;
}

.work-together-form-email:not(:placeholder-shown):valid {
  border-bottom: 1px solid #3cbc81;
}

.work-together-form-email:not(:placeholder-shown):invalid {
  border-bottom: 1px solid #e74a3b;
  margin-top: 22px;
}

.work-together-form-email:not(:placeholder-shown):valid ~ .email-succes {
  display: block;
}

.work-together-form-email:not(:placeholder-shown):invalid ~ .email-invalid {
  display: block;
}

.work-together-form-comments {
  margin-top: 16px;
}

.work-together-form-email {
  margin-top: 63px;
}

.work-together-button {
  margin-top: 32px;
  border-radius: 100%;
  background-color: #ed3b44;
  width: 100px;
  height: 100px;
  border: none;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  transition: background-color 0.2s ease-in-out;
}

.work-together-button:hover,
.work-together-button:focus {
  background-color: #e0373f;
}

.work-together-contacts-list {
  display: flex;
  gap: 4px;
  margin-top: 64px;
}

.work-together-email {
  width: 178px;
  height: 37px;
}

.contacts {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  display: inline-block;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
  transition: border-color 0.2s ease-in-out;
}

.contacts:hover,
.contacts:focus {
  border: 1px solid #fafafa;
}

.work-together-tel {
  width: 119px;
  height: 37px;
}

/* ========================================================================================================================================================
  MODAL
  ======================================================================================================================================================== */

.work-together-modal.modal-overlay {
  background: rgba(15, 15, 16, 0.6);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-together-modal.is-open {
  opacity: 1;
  pointer-events: auto;
}
body.modal-open {
  overflow: hidden;
}

.work-together-container-modal {
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 20px;
  padding: 64px 32px;
  width: 343px;
  height: 276px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 138px;
  margin-bottom: 138px;
  position: relative;
  background: #1c1d20;
}

.work-together-modal-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  text-transform: none;
  margin-bottom: 16px;
}

.work-together-modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(250, 250, 250, 0.6);
}

.work-together-modal-close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
/* ========================================================================================================================================================
  /MODAL
  ======================================================================================================================================================== */

/* ====== Mobile  ====== */
@media screen and (min-width: 375px) {
  .work-together-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-size: 85px 100%;
    background-position: right center;
    background-repeat: no-repeat;
  }
}
/* ====== Tablet  ====== */
@media screen and (min-width: 768px) {
  .work-together-section {
    background-image: url('../img/bg/work-together-tablet-bg.png');
    background-size: 198px 100%;
    padding-top: 80px;
    padding-bottom: 169px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .work-together-section {
      background-image: url('../img/bg/work-together-tablet-bg@2x.png');
    }
  }
  .work-together-logo-foto {
    width: 70px;
    height: 70px;
  }
  .work-together-title-container {
    margin-bottom: 7px;
  }
  .work-together-logo {
    margin-right: 20px;
  }
  .work-together-title {
    font-size: 64px;
  }
  .work-together-contact-form {
    flex-direction: row;
    gap: 32px;
    align-items: center;
    margin-top: 18px;
  }
  .work-together-form-email-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .work-together-form-email,
  .work-together-form-comments {
    margin-top: 0;
  }
  .work-together-form-email:not(:placeholder-shown):valid {
    margin-top: 22px;
  }

  .work-together-form-email:not(:placeholder-shown):invalid {
    margin-top: 22px;
  }
  .work-together-input {
    width: 245px;
    height: 44px;
  }
  .work-together-button {
    margin-top: 0;
    width: 150px;
    height: 150px;
  }
  .work-together-contacts-list {
    gap: 8px;
    margin-top: 18px;
  }
  .contacts {
    padding: 18px 32px;
    font-size: 16px;
  }
  .work-together-email {
    width: 239px;
    height: 55px;
  }
  .work-together-tel {
    width: 173px;
    height: 55px;
  }
  .work-together-container-modal {
    padding: 64px;
    width: 492px;
    height: 246px;
    margin-top: 195px;
    margin-bottom: 195px;
  }
  .work-together-modal-close-icon {
    top: 24px;
    right: 24px;
  }
}

/* ======= Desktop  ======= */
@media screen and (min-width: 1440px) {
  .work-together-section {
    background-image: url('../img/bg/work-together-desktop-bg.png');
    background-size: 400px 100%;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .work-together-section {
      background-image: url('../img/bg/work-together-desktop-bg@2x.png');
    }
  }
  .work-together-container {
    padding-left: 196px;
    padding-right: 196px;
  }
  .work-together-button {
    margin-left: 54px;
  }
  .work-together-input {
    width: 390px;
    height: 44px;
  }
}
